version: '3.8'

services:
  app:
    build: .
    container_name: clicksaudeagendamento
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "127.0.0.1:4000:4000"
    volumes:
      - wwebjs-auth:/app/.wwebjs_auth
      - wwebjs-cache:/app/.wwebjs_cache
      - sessions:/app/sessions
      - uploads:/app/uploads
    networks:
      - shared_net

volumes:
  wwebjs-auth:
  wwebjs-cache:
  sessions:
  uploads:

networks:
  shared_net:
    external: true

